*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container{
    width: 100%;
    height: 100vh;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #dadae3b7;
    -webkit-box-shadow: -2px 7px 18px 7px rgba(156,151,156,0.78);
    -moz-box-shadow: -2px 7px 18px 7px rgba(156,151,156,0.78);
    box-shadow: -2px 7px 18px 7px rgba(156,151,156,0.78);
    position: relative;
    z-index: 3;
    position:fixed;
    width: 100%;
}

.nav-list{
    margin: 0px 25px;
}

a{
    color: black;
    text-decoration: none;
}

.nav-title{
    padding-left: 15px;
}

button{
    padding: 15px;
    outline: none;
    border: none;
    margin: 0px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.main-cont p:nth-child(1){
    margin-top: 60px;
    padding: 5px;
    border: 1px orange solid;
    color: orange;
    width: fit-content;
}

.main-cont p:nth-child(3){
   margin-top: 45px;
   margin-bottom: 30px;
   
}

.main{
    display: flex;
}

.main-cont{
    width: 50%;
    padding-top: 60px;
    padding-left: 60px;
}

.main-img{
    width: 50%;
}

.main-image{
    width: 90%;
    border-radius:0px 0px 90px 90px ;
}

.main-cont button{
    background-color: #f88a22;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 18px;
}

.main-cont h1{
    font-size: 56px;
    margin: 30px 0px;
}

/* ------------------------------------------------------------- */

.container-1{
    padding-top: 80px;
    text-align: center;
}
.heading-page2{
    margin: 30px 0px 20px 0px;
    font-size: 56px;
    text-align: center;
}

.main-con2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.con2-box{
    max-width: 25%;
    height: 350px;
}

.con2-box img{
    width: 100px;
    height: 100px;
    margin: 30px;
}

.con2-box h3{
    padding: 10px;
    font-size: 24px;
    text-wrap: nowrap;
}

.con2-box p{
    padding: 10px;
    line-height: 20px;
}

.container-1 button{
    background-color: #f88a22;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
}

/* --------------------------------------------------------------- */

.container-2{
    margin-top:80px ;
    background-color: rgba(235, 235, 235, 0.552);
}
.container-2 h1{
    font-size: 56px;
    text-align: center;
}

/* ---------------------- */

.card-slider {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto ;
}

.cards {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.card {
    min-width: 30%;
    height: 350px;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 50%;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* --------------------------------------------------------------- */


.container-3 .pg4-para{
    border: 2px orange solid;
    padding: 10px 35px;
    color: #f88a22;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 15px;
}

.container-3 h1{
    font-size: 24px;
    padding: 20px 0px;
}

.container-3{
    height: 135vh;
}

.container-3 .pg4-heading{
    font-size: 56px;
    padding: 80px 50px;
    margin-left: auto;
    margin-right: auto;
}

.pg4-card{
    -webkit-box-shadow: 0px -2px 64px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -2px 64px -1px rgba(0,0,0,0.59);
    box-shadow: 0px -2px 64px -1px rgba(0,0,0,0.59);
    max-width: 25%;
    min-height: 350px;
    padding: 20px;
    border-radius: 20px;
}

.pg4-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pg4-cards{
    display: flex;
    width: 100%;
}

.pg4-card img{
    width: 100%;
    max-height: 300px;
}

.card-3 img{
    padding-top: 90px;
}

/* ------------------------------------------------------------ */

.pg5-img img{
    width: 300px;
    height: 300px;
    position: absolute;
}

.pg5-img .img1{
    left: -100px;
    border-radius: 20px;
    box-shadow: 10px 10px 25px black;
}

.pg5-img .img2{
    right: -10%;
    border-radius: 30px;
    box-shadow: -7px -7px 30px black;
    
}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    height: 50%;
}

.table h3{
    font-size: 24px;
    padding: 40px 20px;
}

.table h1{
    font-size: 48px;
    padding: 30px 20px;
}

.table input{
    padding: 10px;
    margin:10px ;
    border: 3px solid;
    border-radius: 10px;
}

input[type="button"]{
    padding: 10px 55px;
    background-color: red;
    color: #fff;
    border: 3px solid black;

}

/* ------------------------------------- */

.fooder{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/src/footer-img.jpg);
    background-size: cover;
    background-position: center;
}

.fooder-left{
    width: 50%;
    padding: 40px 0px 0px 100px;
}

.fooder-left h1{
    padding: 20px 10px;
    font-size: 36px;
    background-color: #f88a22;
    border-radius: 20px 20px 0px 0px;
}

.fooder-left p{
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    padding: 30px 10px;
}

.fooder-right{
    padding-top: 40px;
    padding-right: 100px;
}

.fooder-right p{
    background-color: black;
    color: white;
    padding: 20px 20px;
    border-radius: 20px;
}